body{
    background-color: rgb(114, 84, 121);
}
button{
    background-color: rgb(118, 122, 172);
}
input{
    background-color: rgb(202, 202, 193);
    
}
h1{
    text-align: center;
    color: rgb(108, 178, 34);
}